<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить запись</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Добавить запись</h1>
		
		        <!-- Ссылки навигации -->
        <div class="d-flex justify-content-between mb-4">
            <a href="{{ url_for('main.index') }}" class="btn btn-outline-primary">На главную</a>
            <a href="{{ url_for('awareness.list_logs') }}" class="btn btn-outline-secondary">Список записей</a>
        </div>
		
        <form action="/awareness/new" method="post">
            <div class="mb-3">
                <label for="want" class="form-label">Что я хочу</label>
                <textarea id="want" name="want" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="happening" class="form-label">Что происходит</label>
                <textarea id="happening" name="happening" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="doing" class="form-label">Что я делаю</label>
                <textarea id="doing" name="doing" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="feeling" class="form-label">Что я чувствую</label>
                <textarea id="feeling" name="feeling" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Сохранить</button>
        </form>
    </div>
</body>
</html>
